#arena {
  display: block;
  margin: 0 auto;
   float: left;
}
#editor {
  font-size: 12px;
  max-width: 50%;
  height: 600px;
  float: left;
    margin-bottom: 4px;
}
pre {
  font-family: 'Courier New', Monospace;
}
.help-text {
  float: left;
  height: 600px;
}
#table {
  width:200px;
  float: right;
    display: block;
  margin: 0 auto;
}
.toploader {
  width: 1210px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  }
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-inline{
      margin-top: 30px;
     margin-bottom: 30px;
     margin-left: 30px;
     margin-right: 30px;
}
input, button {
  height: 34px;
  margin-left: 5px;
  float: left;
}
#compile-error {
  float:right;
  padding-top: 14px;
  font-family: "Monaco", Serif;
  font-size: 12px;
  color: #d9534f;
}