#arena {
  display: block;
  margin: 0 auto;
}
    #editor {
      position: absolute;
      width: 80em;
      height: 40em;
    }
.code-input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.run-code {
  margin-top: -5px;
}