#arena {
  display: block;
  margin: 0 auto;
   float: left;
}
#editor {
  font-size: 12px;
  max-width: 1200px;
  min-width: 800px;
  height: 400px;
    margin: 0 auto;
}
#table {
  width:200px;
  float: right;
    display: block;
  margin: 0 auto;
}
.toploader {
  width: 1210px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // Mixin
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage
.container {
  .clearfix();
}
// Mixin
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.container {
  width: 940px;
  .center-block();
}
// Mixin
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Usage
.branch-name {
  display: inline-block;
  max-width: 200px;
  .text-overflow();
}